{{ define "download_flasher_btn" }}

<div class="download-wrapper">

    <button class="btn-primary"  >
        ↓ DOWNLOAD FLASHER
    </button>

    <div class="download-panel" >

        <div class="download-content"> 

        <a href="/downloads/flasher-windows.exe" class="download-item">
        <span class="download-icon">⊞</span>
        <span>
            <strong>Windows</strong>
            <small>Windows 10 / 11 · x64</small>
        </span>
        </a> 

        <!-- <a href="/downloads/flasher-linux.AppImage" class="download-item">
        <span class="download-icon">🐧</span>
        <span>
            <strong>Linux</strong>
            <small>Ubuntu / Debian · x64</small>
        </span>
        </a> -->

    </div>

    </div>
</div>

{{ end }}